<h2 class="titulo">Lista de categorias:</h2>
<hr>
<a href="/admin/categorias/add" style="margin-left: 10px ;">
	<button class="btn btn-success">Nova categoria</button>
</a>
<hr>

<div class="card-deck m-0 row row-cols g-2">

	{{#each categorias}}
	<div class="col">
		<div class="card shadow-sm border-none h-100">
			<div class="card-body">

				<h4>{{nome}}</h4>
				<small>Slug: {{slug}}</small><br>
				<small>{{date}}</small><br>
				<a href="/admin/categorias/edit/{{id}}">
					<button class="btn btn-success mt-4 w-100">Editar categoria</button>
				</a>
				<form action="/admin/categorias/edit/{{_id}}" method="post">
					<input type="hidden" name="id" value="{{_id}}">
					<button type="submit" class="btn btn-danger mt-2 w-100">Deletar categoria</button>
				</form>
				
			</div>
		</div>
	</div>
	{{else}}
	<h5>Nenhuma categoria registrada!</h5>

	{{/each}}

</div>