{{#each erros}}
  <div class="alert alert-danger">{{erros}}</div>
{{else}}

{{/each}}
<section class="conteiner-main">
  <div class="content-top">
    <div>
      <img
        src="https://media.discordapp.net/attachments/945491578410119180/1016434487279763567/logo.png"
        alt="Instituo de Educação - Professor. Manuel Marinho"
      />
    </div>
    <h1>Bem-vindo a biblioteca</h1>

    <div class="box-form">
      <form action="/books" method="GET">
        <input
          type="text"
          class="form-control"
          name="payload"
          placeholder="Nome do livro"
        
        />
        <button type="submit">Pesquisar</button>
      </form>
    </div>

  </div>

  {{!-- <h2 >Livros: </h2> --}}


  <div class="card-deck m-0 row row-cols g-2">

    {{#each postagens}}
      <div class="col">
        <div class="card shadow-sm border-none h-100">
          <div class="card-body">
            <h5 class="card-title text fw-bold">{{NOME}}</h5>
            <h6 class="card-subtitle text mb-2">{{AUTOR}}</h6>
            <div class="card-mid-one">
              <a href="/postagem/{{AUTOR}}">
                    <button type="button" class="btn btn-outline-danger w-auto">Leia mais</button>
                </a>
            </div>
          </div>
          <div class="card-footer fw-bolder">{{categoria.nome}}</div>
        </div>

      </div>
    {{else}}
      <h5>Nenhum Livro encontrado!</h5>
    {{/each}}
    
  </div>
</section>

