
    <a href="/">
        <button class="btn btn-warning m-3">Voltar</button>
    </a>


<div class="card shadow-sm border-none mh-100 m-2 mt-0">
    <div class="card-body">
        <h3 class="card-title text fw-bold">Titulo: {{postagem.NOME}}</h3>
        <h2 class="card-title text fw-bold">Autor: {{postagem.AUTOR}}</h2>
        <hr>
        <p class="card-subtitle text mb-2"><strong>Descrição:</strong> {{postagem.DESCRICAO}}</p>
        <p class="card-subtitle text mb-2"><strong>Conteúdo:</strong> {{postagem.CONTEUDO}}</p>
        <p class="card-subtitle text mb-2"><strong>Volume:</strong> {{postagem.VOL}}</p>
        <p class="card-subtitle text mb-2"><strong>Ed:</strong> {{postagem.ED}}</p>
        <p class="card-subtitle text mb-2"><strong>Ano:</strong> {{postagem.ANO}}</p>
        <p class="card-subtitle text mb-2"><strong>Editora:</strong> {{postagem.EDITORA}}</p>
        <p class="card-subtitle text mb-2"><strong>Origem:</strong> {{postagem.ORIGEM}}</p>
        <p class="card-subtitle text mb-2"><strong>Localização:</strong> {{postagem.LOCALIZACAO}}</p>
        <p class="card-subtitle text mb-2"><strong>Exemplares:</strong> {{postagem.EXEMPLARES}}</p>
        <hr>
        <p class="card-subtitle text mb-2"><strong>Data de publicação:</strong> {{postagem.DATA}}</p>
    </div>
</div>